In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("TEST.csv")

In [3]:
data.head()

,idx,UNIXTime,Data,Time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,0,1482775250,12/26/2016 12:00:00 AM,08:00:50,48,30.47,101,187.78,4.50,06:55:00,17:51:00
1,1,1482774940,12/26/2016 12:00:00 AM,07:55:40,48,30.47,101,133.40,10.12,06:55:00,17:51:00
2,2,1482774649,12/26/2016 12:00:00 AM,07:50:49,48,30.47,101,160.69,5.62,06:55:00,17:51:00
3,3,1482774351,12/26/2016 12:00:00 AM,07:45:51,48,30.47,101,144.56,7.87,06:55:00,17:51:00
4,4,1482774039,12/26/2016 12:00:00 AM,07:40:39,48,30.47,101,169.05,10.12,06:55:00,17:51:00

In [4]:
mean=data.mean()
mean

idx                       3.268000e+03
UNIXTime                  1.481745e+09
Temperature               4.783632e+01
Pressure                  3.037649e+01
Humidity                  8.161328e+01
WindDirection(Degrees)    1.788448e+02
Speed                     6.738943e+00
dtype: float64

In [5]:
median=data.median()
median

idx                       3.268000e+03
UNIXTime                  1.481792e+09
Temperature               4.700000e+01
Pressure                  3.038000e+01
Humidity                  9.300000e+01
WindDirection(Degrees)    1.700100e+02
Speed                     5.620000e+00
dtype: float64

In [6]:
mode=data.mode()
mode

,idx,UNIXTime,Data,Time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,0,1480586402,12/1/2016 12:00:00 AM,17:20:50,45.0,30.39,93.0,85.39,4.5,06:42:00,17:44:00
1,1,1480586702,12/11/2016 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,06:48:00,NaN
2,2,1480587001,12/12/2016 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,06:54:00,NaN
3,3,1480587301,12/13/2016 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1480587604,12/16/2016 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6532,6532,1482774039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6533,6533,1482774351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6534,6534,1482774649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6535,6535,1482774940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6536,6536,1482775250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
variance=data.var()
variance

idx                       3.561576e+06
UNIXTime                  4.048556e+11
Temperature               2.349952e+01
Pressure                  6.216246e-03
Humidity                  4.539618e+02
WindDirection(Degrees)    7.685054e+03
Speed                     2.293298e+01
dtype: float64

In [8]:
correlation=data.corr()
correlation

,idx,UNIXTime,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
idx,1.000000,-0.994833,-0.265022,-0.383287,0.490566,0.183231,-0.202255
UNIXTime,-0.994833,1.000000,0.282614,0.359269,-0.479241,-0.157285,0.197574
Temperature,-0.265022,0.282614,1.000000,0.298001,-0.189265,-0.148859,0.111442
Pressure,-0.383287,0.359269,0.298001,1.000000,-0.137593,-0.316010,-0.161684
Humidity,0.490566,-0.479241,-0.189265,-0.137593,1.000000,0.129998,-0.335892
WindDirection(Degrees),0.183231,-0.157285,-0.148859,-0.316010,0.129998,1.000000,0.126557
Speed,-0.202255,0.197574,0.111442,-0.161684,-0.335892,0.126557,1.000000